modules = ["java-graalvm22.3", "python-3.12", "bash"]

[nix]
channel = "stable-24_05"
packages = ["maven", "mysql80"]



[workflows]
runButton = "Run Spring Boot App"

[[workflows.workflow]]
name = "Run Spring Boot App"
author = 44197451
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn spring-boot:run"
